<div data-role="view" data-title="Map" data-layout="main" data-model="app.viewmodels.map">

    <ul data-role="listview" data-style="inset">
          <li class="menu-item">
              <label>
                  Place Type:
                  <select>
                      <option value="First Option">Museum</option>
                      <option value="Second Option">Church</option>
                      <option value="Third Option">Zoo</option>
                  </select>
              </label>
          </li>
          <li class="menu-item">
              <label>
                  Radius (km):
                  <select id="dropdown">
                      <option value="First Option">50</option>
                      <option value="Second Option">100</option>
                      <option value="Third Option">200</option>
                      <option value="Fourth Option">500</option>
                  </select>
              </label>
          </li>
      </ul>


    <button data-role="button" id="camera-button" data-bind="click: takeImage" style="font-size: 1.2em; width:99%">Camera</button>

    <div data-bind="value: initialize" id="map-canvas"></div>
</div>

