<div data-role="view" data-title="Map" data-layout="main" data-model="app.viewmodels.map">

    <ul data-role="listview" data-style="inset" >
        <li class="menu-item" data-bind="click: makeRequest">
            <label>
                Place Type:
                <select id="place-type">
                    <option value="museum">Museum</option>
                    <option value="church">Church</option>
                    <option value="zoo">Zoo</option>
                </select>
            </label>
        </li>
        <li class="menu-item" data-bind="click: makeRequest">
            <label>
                Radius (km):
                <select id="radius">
                    <option value="50000">50</option>
                    <option value="100000">100</option>
                    <option value="200000">200</option>
                    <option value="500000">500</option>
                </select>
            </label>
        </li>
      </ul>


    <button data-role="button" id="camera-button" data-bind="click: takeImage" style="font-size: 1.2em; width:99%">Camera</button>

    <div data-bind="value: initialize" id="map-canvas"></div>
</div>

